<article>
    <a href="/new-post"> &larr; Go to New-Post</a>
    <h2>
        Update user information
    </h2>
    <form class="edit-user-form">
        <div>
            <label for="user-name"> User Name</label>
            <label name="user-name" type="text" value="{{user.username}}"/>
        </div>
        <div>
            <label for="email"> User Email</label>
            <input name="email" value="{{user.email}}"/>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input type="hidden" id="user-id" name="user-id" value="{{user.id}}" />
        </div>
        <button type="submit">Update</button>
    </form>
</article>

<script src="/public/js/edit-user.js"></script>